@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 15px;
  background: #eef1f7;
}

::-webkit-scrollbar-thumb {
  background: #c8d0df;
  border-radius: 11px;
}

::-webkit-scrollbar-track {
  margin: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #000;
}
.fade-appear,
.fade-enter {
  opacity: 0;
  /* z-index: 1; */
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms linear 50ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 10ms linear;
}
